@mixin buttons(
  $backgroundColor,
  $borderColor,
  $paddingX,
  $textColor,
  $fontFamily,
  $fontWeight,
  $fontSize
) {
  background-color: $backgroundColor;
  border: 2px solid $borderColor;
  min-height: 50px;
  padding-left: $paddingX;
  padding-right: $paddingX;
  position: relative;
  transition: all ease 0.3s;
  span {
    color: $textColor;
    text-transform: uppercase;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
  }
  &:hover {
    background-color: $textColor;
    // border-color: $textColor;
    span {
      color: $backgroundColor;
    }
  }
  &:disabled {
    opacity: 0.7;
  }
}
